<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
          <h1>Mission to Mars</h1>
          <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>

        <div class="row">
            <div class = "col-md-12">
                <h2>Latest Mars News</h2>
                <h3>{{ mars_mission.news_title }}</h3>
                <p>{{ mars_mission.news_p }}</p>
            </div>

            <div class="col-md-7">
                <h2>Featured Mars Image from the Jet Propulsion Lab</h2>
                <img src="{{ mars_mission.img_url }}">
            </div>

            <div class="col-md-5">
                <h2 style="text-align:center">Mars Facts</h2>
                <table class="table table-responsive table-bordered table-hover">{{ mars_mission.html_table }}</table>
            </div>

            <div class="col-md-12">
                <h2 style="text-align:center">Mars Hemispheres</h2>
            
                {% for x in mars_mission.mars_dict %}
                    <div class="panel panel-default col-md 6">
                        <div class="panel-body">{{mars_dict.title}}</div>
                        <img class="img-responsive col-md 6" src="{{ mars_dict.image_url }}">
                    </div>
                {% endfor %}

            </div>

            
        </div>


    </div>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>